html {
    background-color: rgb(176, 255, 193);
}

body {
    background-color: white;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(255, 199, 46);
}

h1 {
    color: rgb(255, 209, 140);
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: rgb(255, 209, 140);
}

h3 {
    font-size: 30px;
    color: rgb(255, 209, 140);
}

a {
    font-size: 18px;
    color: rgb(255, 209, 140); 
}

img {
    border-width: 6px;
    border-style: solid;
    border-color: rgb(255, 209, 140);
    display: inline;
    height: 245px;
    width: 285px;
}

p {
    font-size: 23px;
    color: rgb(255, 209, 140);
}

#foot {
   font-size: 10px; 
   color: black
}
